<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="CreateProductType()"
    #formDir="ngForm"
    novalidate
  >
    <mat-dialog-content class="mat-typography">
      <div class="controls">
        <br />
        <h2 mat-dialog-title>
          <h1>{{ title }}</h1>
        </h2>

        <br />

        <mat-form-field appearance="outline">
          <mat-label>Select Category</mat-label>
          <mat-select
            [(value)]="CategoryParams.ProductCategoryID"
            formControlName="ProductCategoryID"
          >
            <mat-option
              *ngFor="let item of CategoryData"
              [value]="item.ProductCategoryID"
            >
              {{ item.ProductCategoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="AddCategory()">
  Add Product Category
</button>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Product Type Name</mat-label>
          <input
            type="string"
            matInput
            placeholder="Furniture care"
            formControlName="ProductTypeName"
            pattern="[a-zA-Z][a-zA-Z\s]*"
          />
          <mat-hint>Product Type Name</mat-hint>
        </mat-form-field>

        <br />
        <mat-dialog-actions align="end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            cdkFocusInitial
            [disabled]="!form.valid"
          >
            Save Product Type
          </button>
          &nbsp;&nbsp; &nbsp;

          <button mat-raised-button color="primary" (click)="back()">
            Cancel
          </button>
        </mat-dialog-actions>
      </div>
    </mat-dialog-content>
  </form>
</div>
